.footer{
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #cccccc6b;
    padding: 15px 0;  
    font-size: 15px;
}
.footer ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    color: #919191;
}
.footer p{
    color: #919191;
    font-size: 15px;
}

/* media query */
@media (max-width: 768px) {
    .footer{
        display: block;
        text-align: center;
        justify-content: center;
        padding: 10px 0;
        font-size: 12px;
    }
    .footer ul li {
        margin: 10px;
    }
    .footer ul {
        margin-top: 10px;
    }

    .footer p{
        font-size: 12px;
    }
}
