.testimonials{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}
.next-btn, .prev-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #047857;
}
.prev-btn {
    right: auto;
    left: 0;
}
.slider{
    overflow: hidden;
}
.slider ul{
    display: flex;
    width: 400%;
    overflow-x: hidden;
    transition: transform 0.5s ease;
}
.slider img{
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #047857;
}
.slider ul li{
    width: 100%;
    list-style: none;
    padding: 20px;
}
.slide{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 40px;
    height: 30vh;
    border-radius: 10px;
    background-color: #fff;
    line-height: 1.4;
    max-width: 100%;
}
.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.user-info h3{
    color:#059669
}
.slide p{
    color: #131518;
}

/* media query */
@media (max-width: 800px) {
    .testimonials{
        margin: 40px auto;
        margin-bottom: 100px;
        padding: 0 60px;
    }
    .next-btn, .prev-btn {
        padding: 10px;
        width: 40px;
    }

    .slider ul li{
        padding: 10px;
    }
    .slide{
        height: 28vh;
        padding: 10px;
    }
    .slider img{
        width: 50px;
        border: 3px solid #047857;
    }
}
@media (max-width: 650px) {
    .user-info{

        font-size: 12px;
    }
    .slide{
        padding: 10px;
        height: auto;
    }
    .user-info h3{
        font-size: 14px;
    }
    .user-info span{
        font-size: 12px;
    }
    .slide p{
        font-size: 12px;
    }
    .slider img{
        width: 40px;
        border: 3px solid #047857;
    }
    .title h2{
        font-size: 25px;
    }
    .title p{
        font-size: 15px;
    }
}
@media (max-width: 500px) {
    .user-info{
        display: block;
        margin-bottom: 5px;
        font-size: 10px;
    }
    .slide{
        padding: 10px;
        height: auto;
    }
    .user-info h3{
        font-size: 12px;
    }
    .user-info span{
        font-size: 10px;
    }
    .slide p{
        font-size: 10px;
    }
    .slider img{
        width: 35px;
        border: 2px solid #047857;
    }
    .title h2{
        font-size: 20px;
    }
    .title p{
        font-size: 15px;
    }
}




















/* @media (max-width: 770px) {
    .testimonials{
        margin: 80px auto;
        padding: 0 40px;
        position: relative;
    }
    .next-btn, .prev-btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding: 10px;
        width: 35px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #047857;
    }
    .prev-btn {
        right: auto;
        left: 0;
    }
    .slider{
        overflow: hidden;
    }
    .slider ul{
        display: flex;
        width: 200%;
        overflow-x: hidden;
        transition: transform 0.5s ease;
    }
    .slider img{
        width: 35px;
        border-radius: 50%;
        margin-right: 10px;
        border: 4px solid #047857;
    }
    .slider ul li{
        width: 50%;
        list-style: none;
        padding: 20px;
    }
    .slide{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        padding: 10px;
        height: 25vh;        
        border-radius: 10px;
        background-color: #fff;
        line-height: 1.4;
    
    }
    .user-info{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .user-info h3{
        color:#059669;
        font-size: 20px;
    }
    .user-info span{
        font-size: 18px;
    }
    .slide p{
        font-size: 18px;
        color: #131518;
    }
}
@media (max-width: 550px) {
    .testimonials{
        margin: 40px auto;
        padding: 15px;
        position: relative;
    }
    .next-btn, .prev-btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding: 7px;
        width: 30px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #047857;
    }
    .prev-btn {
        right: auto;
        left: 0;
    }
    .slider{
        overflow: hidden;
    }
    .slider ul{
        display: flex;
        width: 200%;
        overflow-x: hidden;
        transition: transform 0.5s ease;
    }
    .slider img{
        width: 35px;
        border-radius: 50%;
        margin-right: 10px;
        border: 4px solid #047857;
    }
    .slider ul li{
        width: 50%;
        list-style: none;
        padding: 20px;
    }
    .slide{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        padding: 10px;
        height: 15vh;        
        border-radius: 10px;
        background-color: #fff;
        line-height: 1.4;
    
    }
    .user-info{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 10px;
    }
    .user-info h3{
        color:#059669;
        font-size: 13px;
    }
    .user-info span{
        font-size: 12px;
    }
    .slide p{
        font-size: 11px;
        color: #131518;
    }

}
@media (max-width: 460px) {
    .testimonials{
        margin: 40px auto;
        padding: 15px;
        position: relative;
    }
    .next-btn, .prev-btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding: 7px;
        width: 30px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #047857;
    }
    .prev-btn {
        right: auto;
        left: 0;
    }
    .slider{
        overflow: hidden;
    }
    .slider ul{
        display: flex;
        width: 200%;
        overflow-x: hidden;
        transition: transform 0.5s ease;
    }
    .slider img{
        width: 35px;
        border-radius: 50%;
        margin-right: 10px;
        border: 4px solid #047857;
    }
    .slider ul li{
        width: 50%;
        list-style: none;
        padding: 20px;
    }
    .slide{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        padding: 10px;
        height: 25vh;        
        border-radius: 10px;
        background-color: #fff;
        line-height: 1.4;
    
    }
    .user-info{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 10px;
    }
    .user-info h3{
        color:#059669;
        font-size: 13px;
    }
    .user-info span{
        font-size: 12px;
    }
    .slide p{
        font-size: 11px;
        color: #131518;
    }

} */